$darkgrey: #272822;
$yellow: #E6DB74;
$pink: #F92672;
$green: #A6E22A;
$blue: #89BDFF;

$maxWidth: 800px;

body {
  font-family: monospace;
  background-color: $darkgrey;
}

#container {
  color: #fff;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid white;
}

th {
  color: $blue;
  padding: 5px 5px;
  a {
    color: $blue;
    text-decoration: dashed;
  }
}

td {
  padding: 2px 5px;
  color: $yellow;
  vertical-align: top;
  &.query {
    width: $maxWidth;
    text-align: left;
  }
  &.text {
    text-align: center;
  }
  &.numbers {
    text-align: right;
  }
}


tr.odd {
  td {
    color: $green;
  }
}